<h1>Customer List</h1>
<table class="table table-striped">
  <tr >
    <th scope="col">id Customer        </th>
    <th scope="col">Name Customer       </th>
    <th scope="col">Birthday Customer   </th>
    <th scope="col">Gender Customer   </th>
    <th scope="col">Id Card Customer  </th>
    <th scope="col">PhoneCustomer      </th>
    <th scope="col">EmailCustomer     </th>
    <th scope="col">Addres Customer    </th>
    <th scope="col">Customer Type     </th>
    <th scope="col">Edit And Delete   </th>
  </tr>
  <tr>
    <td class="table-primary">1</td>
    <td>khoa</td>
    <td lass="table-primary" >24/11/2003</td>
    <td class="table-primary"  >nam</td>
    <td >0482000999</td>
    <td class="table-primary">0908777777</td>
    <td >khoa@gmail.com</td>
    <td class="table-primary" >đà nãng</td>
    <td >vip</td>
  </tr>
  <tr>
    <td class="table-primary">1</td>
    <td>khoa</td>
    <td lass="table-primary" >24/11/2003</td>
    <td class="table-primary"  >nam</td>
    <td >0482000999</td>
    <td class="table-primary">0908777777</td>
    <td >khoa@gmail.com</td>
    <td class="table-primary" >đà nãng</td>
    <td >vip</td>
  </tr>
  <tr>
    <td class="table-primary">1</td>
    <td>khoa</td>
    <td lass="table-primary" >24/11/2003</td>
    <td class="table-primary"  >nam</td>
    <td >0482000999</td>
    <td class="table-primary">0908777777</td>
    <td >khoa@gmail.com</td>
    <td class="table-primary" >đà nãng</td>
    <td >vip</td>
  </tr>

</table>
