<h1>Customer List</h1>
<table class="table table-striped">
  <button class="btn btn-warning" routerLink="/create/customer" style="margin-top: 100px  "> create</button>
  <tr >
    <th scope="col">id Customer    </th>
    <th scope="col">Name Customer   </th>
    <th scope="col">Birthday Customer   </th>
    <th scope="col">Gender Customer   </th>
    <th scope="col">Id Card Customer  </th>
    <th scope="col">PhoneCustomer      </th>
    <th scope="col">EmailCustomer     </th>
    <th scope="col">Addres Customer    </th>
    <th scope="col">Customer Type     </th>
    <th scope="col">Edit And Delete   </th>
  </tr>

  <tr *ngFor="let customer of customerList">
    <td>{{customer.id}}</td>
    <td class="table-primary">{{customer.nameCustomer}}</td>
    <td>{{customer.birthdayCustomer}}</td>
    <td class="table-primary">{{customer.genderCustomer}}</td>
    <td>{{customer.idCardCustomer}}</td>
    <td class="table-primary">{{customer.phoneCustomer}}</td>
    <td>{{customer.emailCustomer}}</td>
    <td class="table-primary">{{customer.addressCustomer}}</td>
    <td>{{customer.customerType}}</td>
    <td>
      <button>
        <a class="btn btn-warning">edit</a>
      </button>
    </td>
    <td>
      <button>
        <a onclick="deleteCustomer($(this))" type="button"
           class="btn btn-warning" data-toggle="modal" data-target="#customer-modal">delete
        </a>
      </button>
    </td>
  </tr>

</table>
