<form>
  <table class="table">

    <tr>
      <th>start Date</th>
      <td><input type="date"></td>
    </tr>

    <tr>
      <th> end Date</th>
      <td><input type="date"></td>
    </tr>

    <tr>
      <th>deposit</th>
      <td><input type="text"></td>

    </tr>



    <tr>
      <th> employee</th>
      <td>
        <select class="form-select" aria-label="Default select example" >
          <option>nguyễn văn a</option>
          <option>nguyễn văn b</option>
          <option>nguyễn văn c</option>
        </select>
      </td>
    </tr>


    <tr>
      <th> customer</th>
      <td>
        <select class="form-select" aria-label="Default select example">
          <option>nguyễn văn d</option>
          <option>nguyễn văn g</option>
          <option>nguyễn văn f</option>
        </select>
      </td>
    </tr>

    <tr>
      <th> Services</th>
      <td>
        <select class="form-select" aria-label="Default select example">
          <option>nguyễn văn e</option>
          <option>nguyễn văn k</option>
          <option>nguyễn văn r</option>
        </select>
      </td>
    </tr>

    <tr>

      <td><input type="submit" value="Add Contract"  class="btn btn-primary"></td>
    </tr>
  </table>
  <a href="/contracts" class="btn btn-primary active" aria-current="page">Back to list contract</a>

</form>
