<h1  style="text-align: center">Are you sure?</h1>

<div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col" style="text-align: center">{{this.service.id}}</th>
    </tr>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" style="text-align: center">{{this.service.name}}</th>
    </tr>
    <tr>

    <tr>
      <th scope="col">Max People</th>
      <th scope="col" style="text-align: center">{{this.service.maxPeople}}</th>
    </tr>
    <tr>
      <th scope="col">Rent Type</th>
      <th scope="col" style="text-align: center">{{this.service.rentType.name}}</th>
    </tr>
    <tr>
      <th scope="col">Service Type</th>
      <th scope="col" style="text-align: center">{{this.service.serviceType.name}}</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>
<div class="modal-footer justify-content-center">
  <button type="button" class="btn btn-secondary" (click)="onNoClick()">Back</button>
  <button type="button" class="btn btn-danger" (click)="deleteService()">Delete</button>
</div>
