<form  method="post">

  <table class="table ">
    <tr >
      <th> Name Customer</th>
      <td><input type="text" value="khoa"></td>

    </tr>

    <tr>
      <th> BirthdayCustomer</th>
      <td><input type="date" value="24/11/2003"></td>

    </tr>

    <tr>
      <th> Gender Customer</th>

      <td><input type="date" value="nam"></td>

    </tr>

    <tr>
      <th>Id Card Customer</th>
      <td><input type="text" value="0908777777"></td>

    </tr>

    <tr>
      <th> Phone Customer</th>
      <td><input type="text" value="0908777777"></td>
    </tr>

    <tr>
      <th> Email Customer</th>
      <td><input type="text" value="khoa@gmail.com"></td>
    </tr>

    <tr>
      <th> Address Customer</th>
      <td><input type="text" value="đà nãng" ></td>

    </tr>

    <tr>
      <th> Name Customer Type</th>
      <td>
        <select >
          <option selected value="1">Diamond</option>
          <option value="2">Platinium</option>
          <option value="3">Gold</option>
          <option value="4">Silver</option>
          <option value="5">Member</option>
        </select>
      </td>
    </tr>
    <tr>

      <td><input type="submit" value="Add Customer"  class="btn btn-primary"></td>
    </tr>
  </table>
  <a href="/customers" class="btn btn-primary active" aria-current="page">Back to list Customer</a>

</form>
