<form>
  <table class="table">
    <tr >
      <th> Name Service</th>
      <td><input type="text" value=""></td>
    </tr>

    <tr>
      <th> area Services </th>
      <td><input type="text"khoa value="500"></td>
    </tr>

    <tr>
      <th>cost Service</th>
      <td><input type="text" value="5000"></td>
    </tr>

    <tr>
      <th> max People Service</th>
      <td><input type="text" value="5"></td>

    </tr>

    <tr>
      <th> standard Room Service</th>
      <td>
        <select>
          <option value="vip">vip</option>
          <option selected value="normal">normal</option>
        </select>
      </td>
    </tr>

    <tr>
      <th> description Other Convenience</th>
      <td><input type="text" value="abc"></td>
    </tr>

    <tr>
      <th>rentType </th>
      <td>
        <select>
          <option value="1">year</option>
          <option selected value="2">month</option>
          <option value="3">day</option>
          <option value="4">hour</option>
        </select>
      </td>
    </tr>

    <tr>
      <th> servicesType </th>
      <td>
        <select>
          <option value="3">room</option>
        </select>
      </td>
    </tr>


    <tr>

      <td><input type="submit" value="edit services"  class="btn btn-primary"></td>
    </tr>
  </table>
  <a href="/services" class="btn btn-primary active" aria-current="page">Back to list services</a>

</form>
