<table class="table table-striped">
  <tr>
    <th scope="col">id Contract</th>
    <th scope="col"> start Date</th>
    <th scope="col"> end Date</th>
    <th scope="col">deposit</th>
    <th scope="col">total Money</th>
    <th scope="col">employee</th>
    <th scope="col">customer</th>
    <th scope="col">services</th>

  </tr>
  <tr >
    <td class="table-primary">1</td>
    <td class="table-primary">09/09/2021</td>
    <td class="table-primary">21/10/2021</td>
    <td class="table-primary">900000</td>
    <td class="table-primary">1000000</td>
    <td class="table-primary">nguyễn văn a</td>
    <td class="table-primary">nguyễn văn g</td>
    <td class="table-primary">nguyễn văn e</td>
  </tr>
  <tr >
    <td class="table-primary">2</td>
    <td class="table-primary">09/09/2021</td>
    <td class="table-primary">21/10/2021</td>
    <td class="table-primary">900000</td>
    <td class="table-primary">1000000</td>
    <td class="table-primary">nguyễn văn a</td>
    <td class="table-primary">nguyễn văn g</td>
    <td class="table-primary">nguyễn văn e</td>
  </tr>
  <tr>
    <td class="table-primary">3</td>
    <td class="table-primary">09/09/2021</td>
    <td class="table-primary">21/10/2021</td>
    <td class="table-primary">900000</td>
    <td class="table-primary">1000000</td>
    <td class="table-primary">nguyễn văn a</td>
    <td class="table-primary">nguyễn văn g</td>
    <td class="table-primary">nguyễn văn e</td>
  </tr>
</table>
