<form>
<table class="table">
  <tr >
    <th> Name Service</th>
    <td><input type="text" value="khoa" ></td>
  </tr>

  <tr>
    <th> area Services </th>
    <td><input type="text" value="500"></td>
  </tr>

  <tr>
    <th>cost Service</th>
    <td><input type="text" value="5000"></td>
  </tr>

  <tr>
    <th> max People Service</th>
    <td><input type="text" value="5"></td>

  </tr>

  <tr>
    <th> standard Room Service</th>
    <td>
      <select >
        <option selected value="vip">vip</option>
        <option value="normal">normal</option>
      </select>
    </td>
  </tr>

  <tr>
    <th> description Other Convenience</th>
    <td><input type="text" value="abc"></td>

  </tr>

  <tr>
    <th> Pool Area</th>
    <td><input type="text" value="500"></td>

  </tr>

  <tr>
    <th> number Of Floors</th>
    <td><input type="text" value="3" ></td>

  </tr>

  <tr>
    <th>rentType </th>
    <td>
      <select >
        <option value="1">year</option>
        <option value="2">month</option>
        <option selected value="3">day</option>
        <option value="4">hour</option>
      </select>
    </td>
  </tr>

  <tr>
    <th> servicesType </th>
    <td>
      <select >
        <option value="1" > villa </option>

      </select>
    </td>
  </tr>


  <tr>

    <td><input type="submit" value="Add services"  class="btn btn-primary"></td>
  </tr>
</table>
</form>
