<div class="container-fluid" style="height: 800px">
  <div class="row">
    <div class="col-2 rowTest">
      <img src="https://haymora.com/upload/images/cong_nghe_thong_tin/2020/codegym/codegym-logo.jpg"
           width="228px" height="206px">
      <button type="button" class="btn btn-outline-primary btn_menu1"
              style="  margin-bottom: 40px ; margin-top: 20px">HỆ THỐNG
      </button>
      <br>
      <button type="button" class="btn btn-outline-primary btn_menu1" style="  margin-bottom: 40px;">DANH
        MỤC
      </button>
      <br>
      <button type="button" class="btn btn-outline-primary btn_menu1" style="  margin-bottom: 40px;">THỐNG
        KÊ
      </button>
      <br>
      <button type="button" class="btn btn-outline-primary btn_menu1" style="  margin-bottom: 40px;">CÔNG
        CỤ
      </button>
      <br>
      <button type="button" class="btn btn-outline-primary btn_menu1" style="  margin-bottom: 40px;">HỎI
        ĐÁP
      </button>
      <br>
      <button type="button" class="btn btn-outline-primary btn_menu1" style="  margin-bottom: 40px;">TRỢ
        GIÚP
      </button>
    </div>
    <div class="col-10 ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
