<h1>edit product</h1>
<form [formGroup]="productForm" (ngSubmit)="updateProduct(id)">
  <table>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <select [compareWith]="comparefn" formControlName="category">
      <option *ngFor="let cate of categories"  [ngValue]="cate">{{cate.name}}</option>
    </select>
    <tr>
      <td></td>
      <td><button>update</button></td>
    </tr>
  </table>
</form>

