<br>
<br>
<br>
<button type="button" class="btn btn-primary" [routerLink]="['/addHome']" routerLinkActive="router-link-active"> Thêm Mới</button>
<div class="d-flex">
  <div class="row">
<div class="card" style="width: 17.8rem;margin-top: 10px" *ngFor="let hotel  of homeList" >
  <img class="card-img-top" src="{{hotel.img}}" alt="Card image cap" style="height: 220px">
  <div class="card-body">
    <h5 class="card-title">{{hotel.name}}</h5>
    <p class="card-text">{{hotel.price | currency}}</p>
    <a href="#" class="btn btn-primary">Views</a>
  </div>
</div>

</div>
</div>



