<footer class="text-center text-white" style="background-color: rgba(0,0,0,0.3);">
  <!-- Grid container -->
  <div class="container pt-4">
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1"
         href="https://www.facebook.com/"
         role="button"
         data-mdb-ripple-color="dark">
        <i class="fa-brands fa-facebook-f"></i>
      </a>

      <a class="btn btn-link btn-floating btn-lg text-dark m-1"
         href="https://twitter.com/?lang=vi"
         role="button"
         data-mdb-ripple-color="dark">
        <i class="fab fa-twitter"></i>
      </a>

      <a class="btn btn-link btn-floating btn-lg text-dark m-1"
         href="https://www.google.com/"
         role="button"
         data-mdb-ripple-color="dark"
      ><i class="fab fa-google"></i>
      </a>

      <a class="btn btn-link btn-floating btn-lg text-dark m-1"
         href="https://www.instagram.com/"
         role="button"
         data-mdb-ripple-color="dark">
        <i class="fab fa-instagram"></i>
      </a>

      <a class="btn btn-link btn-floating btn-lg text-dark m-1"
         href="https://www.linkedin.com/"
         role="button"
         data-mdb-ripple-color="dark">
        <i class="fab fa-linkedin"></i>
      </a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.github.com/"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="fab fa-github"></i
      ></a>
    </section>
  </div>
  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0,0,0,0.44);">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">HuuHuy.com</a>
  </div>
</footer>
