<h1>list product</h1>
<a routerLink="/product/create">Tạo mới sản phẩm</a>
<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>price</th>
    <th>status</th>
    <th>category</th>
    <td colspan="2"></td>
  </tr>
  <tr *ngFor="let p of products">
    <th>{{p.id}}</th>
    <th>{{p.name}} </th>
    <th>{{p.price}} </th>
    <th>{{p.status}}</th>
    <th>{{p.category.name}}</th>
    <td><a routerLink="/product/edit/{{p.id}}">Edit</a></td>
    <td>
      <button (click)="sendInfor(p.id,p.name)" type="button" style="color: green" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Delete
      </button>
    </td>
  </tr>

</table>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{nameDelete}}</p>
        <p> bạn có muốn xóa sản phẩm</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteProductOb()">Delete</button>
      </div>
    </div>
  </div>
</div>
